[Unit]
Description=Starts the daily worker-container

[Service]
Type=oneshot
# This service should start a usefull task instead of printing the date
ExecStartPre=-/home/core/backup.sh
ExecStartPre=-/usr/bin/docker rm bodil
ExecStart=/usr/bin/docker run --name bodil -v /volumes/bodil:/root/config havardline/bodil
