[Unit]
Description=df1.service
After=df1-db.service
After=df1-redis.service
Requires=df1-db.service
Requires=df1-redis.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill df1
ExecStartPre=-/usr/bin/docker rm df1
ExecStartPre=/usr/bin/docker pull dreamfactorysoftware/df-docker
ExecStart=/usr/bin/docker run \
        --name df1 \
	-v /volumes/df1/storage:/opt/dreamfactory/storage \
        -e "DB_HOST=db" \
        -e "DB_USERNAME=df_admin" \
        -e "DB_PASSWORD=df_admin" \
        -e "DB_DATABASE=dreamfactory" \
        -e "REDIS_HOST=rd" \
        -e "REDIS_DATABASE=0" \
        -e "REDIS_PORT=6379" \
        -e "SERVERNAME=api.lts.no" \
        -e "VIRTUAL_HOST=api.lts.no" \
        -e "LETSENCRYPT_HOST=api.lts.no" \
        -e "LETSENCRYPT_EMAIL=havard.line@lts.no" \
        --link df1-db:db \
        --link df1-redis:rd \
        dreamfactorysoftware/df-docker
ExecStop=/usr/bin/docker stop df1
