[Unit]
Description=Configuration file generator for nginx
After=nginx.1.service
Requires=nginx.1.service
 
[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull jwilder/docker-gen
ExecStart=/usr/bin/docker run --rm \
    --name nginx-gen \
    --volumes-from nginx \
    -v /home/core/volumes/proxy/templates/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro \
    -v /var/run/docker.sock:/tmp/docker.sock:ro \
    -t jwilder/docker-gen -notify-sighup nginx -watch -only-exposed -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf

ExecStop=/usr/bin/docker stop nginx-gen
 
[X-Fleet]
X-Conflicts=nginx-gen.*.service
