[Unit]
Description=odoo1-db
 
[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill odoo1-db
ExecStartPre=-/usr/bin/docker rm odoo1-db
ExecStartPre=/usr/bin/docker pull postgres:9.4
ExecStart=/usr/bin/docker run \
	--name odoo1-db \
	-e POSTGRES_USER=odoo \
	-e POSTGRES_PASSWORD=odoo \
	-e PGDATA=/var/lib/postgresql/data/odoo-data \
	-v /volumes/odoo1/data:/var/lib/postgresql/data/odoo-data \
 	postgres:9.4
ExecStop=/usr/bin/docker stop odoo1-db

[Install]
WantedBy=multi-user.target
