[Unit]
Description=Odoo test enviroment
#BindsTo=postgres.service
#Requires=postgres.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull odoo:8
ExecStart=/usr/bin/docker run -p 0.0.0.0:8069:8069 --name odoo.service --link db:db -t odoo:8
ExecStop=/usr/bin/docker stop odoo.service

#[X-Fleet]
#X-Conflicts=openerp.*.service
