[Unit]
Description=OwnCloud server oc1
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull havardline/debian-openerp-no
ExecStart=/usr/bin/docker run -rm --name oc1 -p 8069:8069 havardline/debian-openerp-no
ExecStop=/usr/bin/docker stop oc1