[Unit]
Description=df1.service
After=df1-db.service
After=df1-db2.service
After=df1-redis.service
After=odoo1-db.service
Requires=df1-db.service
Requires=df1-db2.service
Requires=df1-redis.service
Requires=odoo1-db.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill df1
ExecStartPre=-/usr/bin/docker rm df1
ExecStartPre=/usr/bin/docker pull dreamfactorysoftware/df-docker:2.5.0
ExecStart=/usr/bin/docker run \
        --name df1 \
        -v /volumes/df1/storage/app:/opt/dreamfactory/storage/app \
        -v /volumes/df1/storage/databases:/opt/dreamfactory/storage/databases \
        -e "APP_KEY=My+Secret+appkey" \
        -e "DB_HOST=db" \
        -e "DB_PORT=3306" \
        -e "DB_USERNAME=df_admin" \
        -e "DB_PASSWORD=df_admin" \
        -e "DB_DATABASE=dreamfactory" \
        -e "REDIS_HOST=rd" \
        -e "REDIS_DATABASE=0" \
        -e "SERVERNAME=api.lts.no" \
        -e "VIRTUAL_HOST=api.lts.no" \
        -e "VIRTUAL_PROTO=https" \
        -e "LETSENCRYPT_HOST=api.lts.no" \
        -e "LETSENCRYPT_EMAIL=havard.line@lts.no" \
        --link df1-db:db \
        --link df1-db2:db2 \
        --link df1-redis:rd \
        --link odoo1-db:odoo \
        dreamfactorysoftware/df-docker:2.5.0
ExecStop=/usr/bin/docker stop df1
