[Unit]
Description=odoo1
After=odoo1-db.service
Requires=odoo1-db.service
 
[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill odoo1
ExecStartPre=-/usr/bin/docker rm odoo1
ExecStartPre=/usr/bin/docker pull odoo:8
ExecStart=/usr/bin/docker run \
	--name odoo1 \
	-p 80:8069 \
        -e "VIRTUAL_PORT=8069" \
        -e "VIRTUAL_HOST=erp.lts.no" \
        -e "LETSENCRYPT_HOST=erp.lts.no" \
        -e "LETSENCRYPT_EMAIL=havard.line@lts.no" \
        -v /volumes/odoo1/config:/etc/odoo \
        --link odoo1-db:db \
	-t odoo:8
ExecStop=/usr/bin/docker stop odoo1

[Install]
WantedBy=multi-user.target
